// This file is intentionally blank

// Use this file to override any color variables within the project
// You can also replace this file with a file exported from the customizer,
// which you can access from the widget at https://material-admin-pro.startbootstrap.com/
// 
// Note: The customizer widget is not included with this theme.

$blue: #4758a9;
$pink: #b80f55;
$green: #43a047;
$cyan: #4fc3f7;
$yellow: #ffd54f;
$red: #ef5350;


$primary: $blue;
$primarycontainer: #DDE1FF;
$primaryoncontainer: #001257;
$secondary: $pink;
$secondarycontainer: #ffd9df;
$secondaryoncontainer: #3f0018;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
